* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */

}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}



.section-1, .section-2, .section-3, .section-4 {
    flex: 1;
}

/*-- Section 1 -- */

.section-1 {
    flex: 1;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: auto;
    padding: 12px 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}

.hero {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 64px 0;
    margin-bottom: 36px;
}

.hero-left {
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color:#e5e7eb;
    margin-bottom: 8px
}

.hero-button {
    background-color: #3882f6;
    color:white;
    border:none;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #e5e7eb;
}

/*-- Section 2 -- */

.section-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.section-2 h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 24px;
}

.container {
    margin: auto;
    width: 900px;
    display: flex;
    justify-content:space-around;
    gap: 36px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 150px;
    margin: auto;
}

.box-img {
    border: 3px solid #3882f6;
    border-radius: 12px;
    height: 150px;
    width: 150px;
}

.info-box p {
    text-align: center;
}

/*-- Section 3 -- */

.section-3 {
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
}

.quote {
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    width: 750px;
    margin: auto;
}

.author {
    text-align: end;
    width: 800px;
}

/*-- Section 4 -- */

.section-4 {
    padding: 56px 0;

}

.action-container {
    background-color: #3882f6;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 32px 16px;
    border-radius: 8px;
}

.action-left {
    color: white;
}

.action-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-right button {
    background-color: #3882f6;
    color: white;
    border-color: #e5e7eb;
    border-radius: 8px;
    padding: 8px 24px;
}